@media (max-width: 767px) {
   .welcome {
    padding-left: 16px;
    padding-right: 16px;
   } 
}
.welcome {
width: 343px
top: 238px
left: 16px
border-radius: 30px
}
.games {
width: 375px
height: 1221px
top: 735px
}